<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144124340594-vh25lish2bkb3k26qsh470udg8if32ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144124340594-vh25lish2bkb3k26qsh470udg8if32ou</string>
	<key>API_KEY</key>
	<string>AIzaSyD-evYOEQjG0vnUAn-yFv8p197u9zwWrTk</string>
	<key>GCM_SENDER_ID</key>
	<string>144124340594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialNetwork</string>
	<key>PROJECT_ID</key>
	<string>dstore-social-network</string>
	<key>STORAGE_BUCKET</key>
	<string>dstore-social-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144124340594:ios:3abc48bfb74bd2e1db55eb</string>
</dict>
</plist>